
li{list-style: none;}

#top{margin-top:1px;height:110px;display:flex;}

#top a{}
#top .header_r{font:28px/100px "";}
#top .header_r b{color:#666;}

#main{width:1000px;height:660px;margin:0 auto;margin-bottom:50px;}
#main .main-t{width:140px;height:35px;border:1px solid #ccc;border-top:2px solid #2faae3;border-bottom:none;text-align: center;}
#main .main-t a{font:700 14px/35px "";color:#2faae3;}

#main .main-b{min-height:625px;border:1px solid #ccc;}
#main .main-b ul{width:800px;margin-left:20px;}
#main .main-b ul li{height:69px;}
#main .main-b ul li:nth-child(1){margin-top:50px;}
#main .main-b ul li span{display:inline-block;width:170px;height:35px;font:12px/35px "";color:#666;text-align: right;padding-right:10px;}
#main .main-b ul li span i{color:red}#main .main-b ul li input{height:35px;width:260px;padding-left:10px;}
#main .main-b ul li:nth-child(1) input{background:url(t1.png) no-repeat right;background-size:18px 40px;}
#main .main-b ul li:nth-child(2) input{background:url(t2.png) no-repeat right;background-size:18px 40px;}
#main .main-b ul li:nth-child(4) input{background:url(t3.png) no-repeat right;background-size:18px 40px;}
.main-b ul li b{color:#fe8500}
#main .main-b ul li input.te{width:130px;}
#main .main-b ul li input.te2{padding-right:10px;height:37px;margin-left:15px;width:117px;background:#d3d3d3;cursor: pointer;;border:none;color:#828282;text-align:center;}
#main .main-b ul li input.te2:active{background:#2faae3;}
#main p{margin-left:200px;}
#main #btn{display:block;margin:80px 0 0 200px;width:210px;height:40px;border:none;background:#fd9d34;font:12px/40px "";color:#fff;cursor: pointer;}
#main .msg{display:block;margin:20px 0 0 256px;color:red;}